@import url("./font-awesome-4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Graduate|Open+Sans');

body {
  margin: 0;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;

}

.border {
  border: 1px solid red;
}

#home {
  /* background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/29I66QEHME.jpg"); */
  /* background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/B65VCAYIUF.jpg"); */
  /* background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/7I1KUVZ01H.jpg"); */
  /* background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/9DF07977DF.jpg"); */
  /* background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/ZIS75NJPCB.jpg"); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.logo,
h1 {
  font-family: 'Graduate', cursive;
}

.main-container {
  min-height: 90vh;
}

.padded-container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

#about-title {
  padding: 3rem;
  text-align: center;
}
.columns {
  width: 95 vw;
}

.card {
  margin: 0 0 5px 0;
}
